.container {
    margin: 0px auto;
    text-align: center;
}

.image{
    margin: 0px auto;
    height:20%; 
    width:20%;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

.card {
    padding-top: 2%;
    margin: auto;
    width: 50%;
}

mat-card-content {
    padding-left: 15px;
}

mat-card-actions {
    padding-left: 25px;
}

.tip-btn {
    left: 500px;
}

.add-btn {
    width: 200px;
}

mat-form-field {
    width:500px !important;
}

.main-div {
    margin: 0px auto;
    padding-top: 2%;
    width: 50%;
}